<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" ui-sref="home" ui-sref-active="active"
                    >Home</a
                >
            </li>
            <li class="nav-item" ng-show="isAuth">
                <a class="nav-link" href="">
                    <i class="ion-compose"></i>&nbsp;New Post
                </a>
            </li>
            <li class="nav-item" ng-show="isAuth" ng-click="signOut()">
                <a class="nav-link" href="">
                    <i class="ion-gear-a"></i>&nbsp;Settings
                </a>
            </li>
            <li class="nav-item" ng-show="!isAuth">
                <a
                    class="nav-link"
                    href=""
                    ui-sref="sign({signMode:'register'})"
                    ui-sref-active="active"
                    >Sign up</a
                >
            </li>
            <li class="nav-item" ng-show="!isAuth">
                <a
                    class="nav-link"
                    href=""
                    ui-sref="sign({signMode:'login'})"
                    ui-sref-active="active"
                    >Sign in</a
                >
            </li>
            <li class="nav-item" ng-show="isAuth">
                <a class="nav-link" href="">Username</a>
            </li>
        </ul>
    </div>
</nav>

<div ui-view></div>

<footer>
    <div class="container">
        <a href="/" class="logo-font">conduit</a>
        <span class="attribution">
            An interactive learning project from
            <a href="https://thinkster.io">Thinkster</a>. Code &amp; design
            licensed under MIT.
        </span>
    </div>
</footer>
