<div class="home-page">
    <div class="banner" ng-hide="isAuth">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <articles is-auth="isAuth" tag="tag"></articles>
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>
                    <div class="tag-list">
                        <a
                            href=""
                            class="tag-pill tag-default"
                            ng-click="changeTag(atag)"
                            ng-repeat="atag in tags"
                            >{{ atag }}</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
