<div class="editor-page" >
    <div class="container page">
        <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
            <ul class="error-messages" ng-show="errors">
                <div ng-repeat="(field, errors) in errors">
                    <li ng-repeat="error in errors">
                        {{field}} {{error}}
                    </li>
                </div>
            </ul>
            <form>
                <fieldset>
                    <fieldset class="form-group">
                        <input type="text" ng-model="article.title" 
                                class="form-control form-control-lg" 
                                placeholder="Article Title">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="text" ng-model="article.description" 
                                class="form-control" 
                                placeholder="What's this article about?">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="article.body" 
                                class="form-control" rows="8" 
                                placeholder="Write your article (in markdown)"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="text" ng-model="tagField" 
                                class="form-control" placeholder="Enter tags"
                                ng-keydown="$event.keyCode === 13 && addTag()">
                        <div class="tag-list">
                            <span ng-repeat="tag in article.tagList"
                                class="tag-default tag-pill">
                                <i class="ion-close-round" ng-click="removeTag(tag)"></i>
                                {{tag}}
                            </span>
                        </div>
                    </fieldset>
                    <button ng-click="publishArticle()" class="btn btn-lg pull-xs-right btn-primary" type="button">
                        Publish Article
                    </button>
                </fieldset>
            </form>
        </div>
    
        </div>
    </div>
</div>