<div class="settings-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Your Settings</h1>

                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input
                                class="form-control"
                                type="text"
                                placeholder="URL of profile picture"
                            />
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                placeholder="Your Name"
                                ng-model="user.username"
                            />
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea
                                class="form-control form-control-lg"
                                rows="8"
                                placeholder="Short bio about you"
                                ng-model="user.bio"
                            ></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                placeholder="Email"
                                ng-model="user.email"
                            />
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                class="form-control form-control-lg"
                                type="password"
                                placeholder="Password"
                                ng-model="user.password"
                            />
                        </fieldset>
                        <button
                            class="btn btn-lg btn-primary pull-xs-right"
                            ng-click="update()"
                        >
                            Update Settings
                        </button>
                    </fieldset>
                </form>

                <hr />

                <button class="btn btn-outline-danger" ng-click="signOut()">
                    Or click here to logout.
                </button>
            </div>
        </div>
    </div>
</div>
